div{
	margin: auto;
  width: 25%;
  height:350px;
  border:none;
  padding: 10px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
form{
	padding:10%;
}
body{
	background-image: url('Jaipur.jpg');
}
input[type=text],input[type=email],input[type=password],textarea, input[type=submit]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 4px;
  border:none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
 input[type=submit]{
	  margin:20px 0;
	background-color: olivedrab;
}
input[type=submit]:hover{
	background-color: green;
}
h1{
	text-align: center;
}