@charset "ISO-8859-1";
h2{
	color:white;
	font-size: 100px;
	margin-left:10%;
}
div{
	width:400px;
	height:400px;
	float:right;
	border-radius: 4px;
	margin-top: 100px;
	padding:50px;
}
ul li{
	list-style-type: none;
	margin:20px;
	padding:10px;
}
a{
	text-decoration: none;
	color:black;
}
li{
	background-color: white;
	border-radius:5px;
}
li:hover{
	background-color: bisque;
	box-shadow: 4px 4px 4px #000000;
}
