<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
	
	<title>View Course</title>
	<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
	<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
	<link rel="stylesheet" th:href="@{/css/payment.css}"/>
<style>
	body{
		background-image: url('th.jpg');
		background-repeat: no-repeat;
		background-size: cover;
	}
</style>	
</head>
<body>
<div>

		<h1>Why premium ? </h1>
		<li>
			<ul><b> Experience:</b> Premium music streaming services offer an uninterrupted, ad-free listening experience, allowing users to enjoy their favorite music without annoying interruptions.</ul>
<ul><b>Higher Audio Quality:</b> Premium subscriptions often provide higher audio quality, delivering a more immersive and crisp sound compared to free versions, enhancing the overall listening experience.</ul>
<ul><b>Offline Listening:</b> Premium plans usually allow users to download songs for offline listening, ensuring music enjoyment even in areas with limited or no internet access.</ul>
<ul><b>Exclusive Content:</b> Premium memberships often come with access to exclusive content, such as early releases, bonus tracks, and exclusive artist collaborations, providing a unique and enriched musical catalog.</ul>
<ul><b>Enhanced Personalization:</b> Premium services often offer advanced features for personalized playlists, recommendations, and radio stations, tailoring the music selection to individual preferences more accurately.</ul>
<ul><b>Supporting Artists:</b> Subscribing to a premium music streaming service contributes to fair compensation for artists, helping sustain the music industry by supporting the creation of new and diverse content.</ul>
		</li>
	
    	<form id="payment-form">
	        <button type="submit" class="buy-button" >BUY</button>
	    </form>
   
</div>

<script>
$(document).ready(function() {
    $(".buy-button").click(function(e) {
        e.preventDefault();
        var form = $(this).closest('form');
        
        
        createOrder();
    });
});

function createOrder() {
	
    $.post("/createOrder")
        .done(function(order) {
            order = JSON.parse(order);
            var options = {
                "key": "rzp_test_72CITbg0ojSGjV",
                "amount": order.amount_due.toString(),
                "currency": "INR",
                "name": "Tune Hub",
                "description": "Test Transaction",
                "order_id": order.id,
                "handler": function (response) {
                    verifyPayment(response.razorpay_order_id, response.razorpay_payment_id, response.razorpay_signature);
                },
                "prefill": {
                    "name": "Your Name",
                    "email": "test@example.com",
                    "contact": "9999999999"
                },
                "notes": {
                    "address": "Your Address"
                },
                "theme": {
                    "color": "#F37254"
                }
            };
            var rzp1 = new Razorpay(options);
            rzp1.open();
        })
        .fail(function(error) {
            console.error("Error:", error);
        });
}

function verifyPayment(orderId, paymentId, signature) {
     $.post("/verify", { orderId: orderId, paymentId: paymentId, signature: signature })
         .done(function(isValid) {
             if (isValid) {
                 alert("Payment successful");
                 window.location.href = 'payment-success';
             } else {
                 alert("Payment failed");
                 window.location.href = 'payment-failure';
             }
         })
         .fail(function(error) {
             console.error("Error:", error);
         });
}
</script>
</body>
</html>